<!--assign.vtl-->
<h1>Assign to team: $team.name()</h1>

<p>Check each box to assign participants to the $team.name() team.  Press [Assign Members] to finish.<br>

<form method="post">
  <label for="participants">Participants:</label><br>
  #foreach ($mem in $members)
    <input type="checkbox" name="$mem.id()" value="$mem.email()"  #if($team.allMembers().contains($mem))
      checked
    #else
    #end
    > $mem.email()<br>
  #end
  <button type="submit" class="btn btn-success">Assign Members</button>
</form>

<!--assign.vtl-->
