<!--members-new.vtl-->
<p>Add a new participant: </p>

<form method="post">
  <label for="email">Participant email</label>
  <input id="email" name="email" type="text">

  <button type="submit" class="btn btn-default">Add Participant</button>
</form>
<!--members-new.vtl-->
