<!--team.vtl-->
<h1>Team: $team.name()</h1>
<ul>
  #foreach ($member in $team.allMembers())
    <li><a href="/members/$member.id()">$member.email()</a></li>
  #end
</ul>
<a href="/teams/$team.id()/assign">Assign Members</a>
<!--team.vtl-->
